
<h1>EnergyFolks Leadership Levels</h1>
<p>EnergyFolks gives each group the ability to assign 'leaders' with various administrator rights.  The following matrix
explains the roles that each user is allowed.</p>
<table width="90%">
  <tbody>
      <tr>
        <th>Level Name</th>
        <th>Edit Group Settings</th>
        <th>Grant Leadership Rights</th>
        <th>Moderate Posts</th>
        <th>Post without Moderation</th>
        <th>Wordpress Access Role</th>
      </tr>
      <tr class="odd">
        <td>Administrator</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>Administrator*</td>
      </tr>
      <tr class="odd">
        <td>Editor</td>
        <td>NO</td>
        <td>NO</td>
        <td>YES</td>
        <td>YES</td>
        <td>Editor*</td>
      </tr>
      <tr class="odd">
        <td>Author</td>
        <td>NO</td>
        <td>NO</td>
        <td>NO</td>
        <td>YES</td>
        <td>Author*</td>
      </tr>
      <tr class="odd">
        <td>Contributor</td>
        <td>NO</td>
        <td>NO</td>
        <td>NO</td>
        <td>YES</td>
        <td>Contributor*</td>
      </tr>
    </tbody>
</table>
       <BR>
*Wordpress roles are explained in detail at <a href="http://codex.wordpress.org/Roles_and_Capabilities#Capability_vs._Role_Table" target="_blank">http://codex.wordpress.org/Roles_and_Capabilities#Capability_vs._Role_Table</a>.

