
<h1>Team up with energyfolks</h1>
<p>energyfolks is a community of communities.  While some posts to our site are intended for public dissemination, what
happens when you want to post an event or job just for the members of your own local community?</p>
<p>energyfolks affiliation solves this issue.  By becoming an affiliate group on energyfolks, you are given:
<ul>
    <li>Full administration rights to moderate any and all posts submitted specifically to your group members</li>
    <li>Ability to brand energyfolks emails with your own colors and logos</li>
    <li>Ability to send notices to your members at any time, without moderation</li>
    <li>Full access to your membership list through energyfolks</li>
    <li>Control over how groups join your community, including open groups, groups based on email address matching (for example, '@stanford.edu' email is required for the Stanford Energy Club), and invitation only groups (both public and hidden).</li>
    <li>If you have your own website, affiliation gives you full control over ALL content shown through the energyfolks platform on your site.  Choose which posts to display and which to hide.</li>
</ul>
</p>
<p>
    energyfolks takes care of all the
    accounts system backend, including verification, logins, lost passwords, and more.  Affiliated members can also log
    in to your website using their energyfolks credentials, and can register for accounts through your site, all
    using the energyfolks platform and libraries.  Most can be set up on your site with only a few lines of code (your own website is not required to become an affiliate), or you can use the <a href='turnkey.php'>site builder</a> to create your entire website in moments.
</p>
    <p>In short, affiliate groups are given a localised version of energyfolks, for which they are the administrator, while
    energyfolks continues to maintain the backend for the site.  By utilizing this setup, your group can maintain its autonomy
    while still connecting with the larger energy community through the full energyfolks portal.</p>
<h6>Learn more and become and affiliate</h6>
    <p>To learn more or become an affiliate, contact us directly via email at <a href='mailto:contact@energyfolks.com'>contact@energyfolks.com</a>.</p>
<h6>Affiliate example</h6>
<p>
    The <a href='http://energyclub.stanford.edu/'>Stanford Energy Club</a> is a good example of an affiliate organization that uses
    the energyfolks platform to display custom content on its website.  Visit
    <a href='http://energyclub.stanford.edu/'>energy.stanford.edu</a> to see how the SEC utilizes energyfolks content on their site
    while maintaining their own web identity and feel.
</p>


