<h1 style='line-height:24px;color:white;background-color:darkred;text-align:center;padding:20px;'>THESE EXAMPLES ARE OUT OF DATE AND NO LONGER VALID/DONT WORK! IT IS FOR EF PLATFORM V1.0!</h1>


<h2>energyfolks integration examples</h2>
<h6>Showing energyfolks content</h6>
<ul>
<li><a href='calendar.php'>Embedded Calendar</a>
<li><a href='jobs.php'>Embedded Jobs Listing</a>
<li><a href='users.php'>Embedded User Database</a>
<li><a href='bulletins.php'>Embedded Bulletin Board</a>

<li><a href='widgets.php'>Embedded Small Widgets (such as 'next five days of events', or 'recent jobs posts')</a>
</ul>
<BR><h6>Restricting information</h6>
<p>These example build on the embedding examples above to demonstrate how the content in the embedded pages can be restricted
to only posts from certain groups, affiliates, and more.</p>
<ul>
<li><a href='partner.php'>Show Users only for certain Affiliate</a>
<li><a href='zone.php'>Show jobs from a certain region only</a>
<li><a href='sponsor.php'>Show events highlighted by a certain group</a>
<li><a href='multi.php'>Combination example (bulletins in specific thread, from certain group, highlighted)</a>
</ul>
<BR><h6>External logins to energyfolks</h6>
    <p>These examples show how to register new members on energyfolks from your site and how to authenticate members to your
    site using their energyfolks credentials</p>
<ul>
<li><a href='login2.php'>Basic Client Login to your site</a></li>
<li><a href='login.php'>Advanced Servier-side Login to your site (uses server-side functionality.  A PHP library is provided)</a></li>
</ul>