<h1 style='line-height:24px;color:white;background-color:darkred;text-align:center;padding:20px;'>THE DEVELOPER PLATFORM IS CURRENTLY BEING UPGRADED FROM PLATFORM V1.0 TO 2.0, AND THEREFORE INFORMATION ON THESE PAGES IS CURRENTLY NOT VALID!</h1>


<h1>Welcome to the energyfolks platform!</h1>
<p>energyfolks is more than just a website, it is a free embeddable platform that allows any person, group, club, or entity
  to create their own branded website in moments that shows and shares energyfolks content and includes a fully featured user management system.</p>
<p>The energyfolks platform offers several advantages:</p>
<ul>
  <li>Fully Flexible: Use our wordpress plugin to build your site in moments, or try our libraries to integrate into a custom environment</li>
  <li>Display full or filtered energyfolks content on your branded site, including events, jobs, discussions, and members</li>
  <li>Use the energyfolks account management system to allows signups, profiles, and more for your group</li>
  <li>Keep your focus on your core mission and constituency; energyfolks maintains the server and the code (all you need is a URL and basic webspace)</li>
  <li>The service is <i>free</i> and takes only moments to setup for most sites</li>
  <li>and a whole lot more...</li>
</ul>
<h3>Get Started</h3>
<p>To get started with the platform, please check out:</p>
<ul>
  <li><a href='/developers/affiliate'>Information on becoming a group admin or a full affiliate group (it's free!)</a></li>
  <li><a href='/developers/wordpress'>Download our wordpress plugin, install with the famous wordpress 5 minute install, and have your site up today</a></li>
  <li><a href='/developers/documentation'>Full documentation of the energyfolks platform libraries for more advanced setups</a></li>
  <li><a href='/developers/examples'>Fully commented examples of energyfolks platform integration on a third party site</a></li>
</ul>
<p>We are also available to help answer questions, get your setup going, and more.<BR>Contact us at <a href='mailto:contact@energyfolks.com'>contact@energyfolks.com</a> with your questions at any time.</p>
<BR><h3>License</h3>
<p><a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/"><img alt="Creative Commons License" style="border-width:0;display:inline;" src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png" align=right /></a>The <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">energyfolks platform</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>.  You are free to use, copy, distribute, and transmit unaltered copies of the work; use, distribution, or transmission of derivative works is prohibited without the written consent of energyfolks.  Use of the energyfolks platform for commercial purposes is allowed as long as any and all web-sites utilizing energyfolks code are freely available.  Restricting energyfolks content in any way, including through membership in a fee-based subscription service or requirement of a user payment or access fee, is prohibited without prior written consent from energyfolks.</p>

