<h1>Synchronization was Successful!</h1>
<p>We have successfully communicated with your server and synchronized energyfolks settings.  Your setup is now complete.</p>
<h3>Logout of Wordpress</h3>
<p>To complete your installation, click the link below to log out of wordpress (on the page that loads, be sure to click the 'log out' link).  You will then be
  forwarded to your homepage, and automatically re-logged back in to the wordpress system through your energyfolks account.  </p>
<p>To access the wordpress dashboard and edit your website and energyfolks settings, use the administrator bar that will be present at the
  top of every page on your site when you are logged in through energyfolks.  You can also give other energyfolks users in your group
  administrator, editor, or contributor rights from your membership page, and they will also be automatically logged in to the
    wordpress backend when they access your site with their energyfolks login.</p>
<button onclick="window.location.href='<%= @next_url %>/wp-login.php?action=logout';">Complete Installation and Logout of Wordpress</button>