<%= @user.first_name %>,
<BR><BR>
We need your help!  As an active member of <%= @affiliate.name %> (we see you visited in the last month!), we want to get better.  Please help us by taking the follwing survey:
<BR><BR>
<a href="https://andrea28.typeform.com/to/hzmbs9">https://andrea28.typeform.com/to/hzmbs9</a>
<BR><BR>
This should take less than 5 minutes!
<BR><BR>
Thanks for your help!
<BR>
The EnergyFolks team
