<h1>Energyfolks system administration</h1>
<ul>
 <li><a href='/admins/resynchronize_cloudsearch'>Resynchronize Cloudsearch database</a>
  <li><a href='/admins/wordpress_versions?iframe_next=1'>View Wordpress Versions</a>
  <li><a href='/admins/crontab?iframe_next=1'>View automated task log</a>
  <li><a href='https://console.aws.amazon.com/console/home'>Go to Amazon AWS</a>
</ul>


<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>