commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/post_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_CURRENT
      cp /home/ec2-user/site.yml ./config/site.yml
      cp /home/ec2-user/database.yml ./config/database.yml
      cp /home/ec2-user/whenever-elasticbeanstalk.yml ./config/whenever-elasticbeanstalk.yml
      cp /home/ec2-user/ec2.yml ./config/ec2.yml
      cp /home/ec2-user/omniauth.rb ./config/initializers/omniauth.rb
      su -c "RAILS_ENV=production rake assets:precompile" $EB_CONFIG_APP_USER
      su -c "RAILS_ENV=production rake db:migrate" $EB_CONFIG_APP_USER
      sudo /etc/init.d/passenger restart
      su -c "RAILS_ENV=production bundle exec whenever -w" $EB_CONFIG_APP_USER
      su -c "RAILS_ENV=production script/delayed_job --pid-dir=$EB_CONFIG_APP_SUPPORT/pids restart" $EB_CONFIG_APP_USER