commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/post_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      sudo /etc/init.d/passenger restart
      su -c "RAILS_ENV=production bundle exec whenever -w" webapp
      su -c "RAILS_ENV=production script/delayed_job --pid-dir=/var/app/support/pids restart" webapp
      rake nightly:wordpress