<h1>DONATE</h1>
TODO:
<BR>- test for donation and display previous donations for particular entity on the donate page
<BR>- all the wording and analytics on the 'donate' page
<BR>- General 'donate' page
<BR>- Setup cron job to email 2 weeks after job post and again 4 weeks.  Email should include analytics and donate message IF no donation yet
<BR>-

<%= render :partial => '/common/stripe_card' %>