<% if current_user.present? %>
    <%= render :partial => 'form', :locals => {new: true} %>
<% else %>
    <h2>In order to post a new job, please login to your account, or create a new account.</h2>
    <%= render :partial => '/users/login' %>
<% end %>