<div align=center style='font-size:20px;color:#F16522;'>
  Analytics for your post from <%= @user_affiliate.name %> titled <i><%= @item.name %></i> are shown below
</div>

<%= render :partial => '/common/donate', :locals => {plot: false} %>