<h1>Invalid Activation Link</h1>
<p>We're sorry, the activation link is invalid.</p>
<p>
  <%= link_to('Resend the activation email', '#', {class: 'EnergyFolks_popup', data: {iframe: 'true', command: 'users/resend_activation', params: ''}}) %>
</p>