<h1>Thank you!</h1>
<p>
  Your account has been created.  Before you can login, you need to verify and activate your account.  Please
  check your email for an activation email and follow the instructions in that email.
</p>
<h3>Didn't receive our email?</h3>
<p>
  Please be patient, the activation email can take up to 15 minutes to reach your inbox.  In addition, please check
  spam folders for the email.  Please also be sure 'accounts@energyfolks.com' is allowed to send email to your account.
</p>
<p>
  <a href="/users/resend_activation?iframe_next=1">Resend the activation email</a>.
</p>