<% if @item.present? %>
    <% if current_user.blank? && !current_affiliate.show_details %>
        <h1>Please login to view</h1>
        <b>Post details are restricted to registered members.  Please create an account and login in order to access detailed content.</b>
    <% else %>
        <%
           # Visibility control:
           visible = @item.is_visible?(current_affiliate, current_user)
        %>
        <!-- Beginning of Profile -->
        <% if visible %>
            <div id="ef_show">
                <%= render :partial => '/common/show_top' if current_user.present? %>
                <%= render :partial => '/events/inner_show' %>
            </div>
        <% else %>
            <h1>Oops!</h1>
            <b>This event's details are restricted, or this event has not yet been approved.</b>
        <% end %>
    <% end %>
<% else %>
    <h1>Oops!</h1>
    <b>This event no longer exists.  The author may have deleted it.</b>
<% end %>