<% if current_user.present? %>
    <h1><%= link_to 'Create New Event', '#', :class => 'EnergyFolks_popup', :data => {command: 'events/new', iframe: 'true' } %></h1>
<% end %>
<h1>Energyfolks Events</h1>
<script language="javascript">
    <%= "EnergyFolks.id = 3" %>
    EnergyFolks.showPage({source: 'events', format: 'list'});
</script>