<h1>energyfolks.com</h1>
<p>
  energyfolks is a 501(c)3 not-for-profit entity based in the San Francisco Bay Area.  If you are interested in supporting energyfolks through financial or in-kind support, please let us know at <a href='mailto:contact@energyfolks.com'>contact@energyfolks.com</a>.
</p>


<hr class=sepline />
<h1>Our Mission</h1>
<p>To meet new demand and lift billions out of poverty, global electricity generation must double to 9 terawatts by 2035. Meanwhile, global CO2 must drop from 390ppm to 350ppm to avoid catastrophic climate change, sensitive habitats must be protected to avoid environmental damage, and supplies must be affordable and accessible to maintain geo-political stability.
</p><p>
  Energyfolks empowers and connects energy communities worldwide to help solve this great challenge.
  We reach out to both established and emerging organizations to help them keep their membership engaged and informed by feely providing these groups with customizable tools to manage their website, administer membership, facilitate online discussion, and share and promote events. The eneryfolks platform frees group resources, allowing them to focus their efforts on their core mission and constituency.
</p><p>
  At the same time, the groups in the energyfolks ecosystem are connected with each other through bi-directional visibility and information sharing.  Members in one organization can see and interact with those in any other.  Group leaders can share best practices.  Innovators can find top-talent the world over.  Our platform overcomes the traditional barriers between disciplines, geographies, and institutions, creating a more cohesive and effective global movement.
</p>

<hr class=sepline />
<h1>Contact the energyfolks.com team</h1>
<p>
  Have feedback, a question, or an idea?  You can contact the energyfolks team at any time by emailing them at <a href='mailto:contact@energyfolks.com'>contact@energyfolks.com</a>.
</p>