<table width=100% border=0>
  <tr>
    <td>
      <div class='stripe'><div class='amount'>
        <h1>The Objective of EnergyFolks</h1>
        Energyfolks seeks to increase engagement within the energy innovation community by providing university based energy clubs and professional energy groups
        a free platform for information exchange on events, jobs, members, and topical issues in their region and around the world. Energyfolks is committed to
        empowering and expanding the student energy movement, and works to connect student organizations with each other and with professional organizations in the
        energy space to further the educational and career opportunities for energy interested students.

        <h1>Support our Work</h1>
        As a 501c3 non-profit corporation, your donation to EnergyFolks is tax deductible.  Your contribution will go towards further
        platform development, operational costs (such as rental fees for time and space on dedicated server equipment), and
        other EnergyFolks programs, including grants to affiliate organizations.
      </div></div>
    </td>
    <td>
      <iframe width="350" height="260" src="https://www.youtube-nocookie.com/embed/WcWzvSRZAy0?rel=0&autoplay=0&showinfo=1&controls=0&HD=1&rel=0" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
</table>
<%= render :partial => '/common/stripe_card' %>