<a href="/users/login">LOGIN PAGE</a>
<BR>
<a href="/affiliates">affiliates</a>
<BR>
<h1>COMMENT ENGINE TEST</h1>
<script language='javascript'>
    EnergyFolks.Comments("ENERGYFOLKS HOMEPAGE TEST THREAD");
</script>