Hello,<br>
<br>
Your post titled "<%= @original_subject %>" has been added to the system.  Depending upon the settings of your particular
organization, it may be currently undergoing moderation.  To view your post, edit its contents, add searchable tags, or to
send your post to more energyfolks affiliated groups, visit:<br>
<a href='<%= @item.static_url %>'><%= @item.static_url %></a>
