<div class="error_number">404</div>
<div class="error_explanation">
  <h1>The page you were looking for doesn't exist.</h1>

  <p>You may have mistyped the address or the page may have moved.</p>

  <p>Requested address: &ldquo;<%= @not_found_path %>&rdquo;</p>

  <p class="return"><%= link_to("Click here", '/') %> to return to the front page.</p>
</div>
