<div class='EnFolksClass'>
  <h3>Login or Sign up with<BR>
THIRD PARTY LOGINS GO HERE
  <hr width="95%" size=1 color="#999999">

  <h3>Join us!</h3>
  Signup for an <a href='https://www.energyfolks.com' target='_blank'>energyfolks</a> account to gain access to this site.  An account is <b>free</b> and open to
  <b>anyone</b>.<BR>

  <button class='EnFolks_create_account'>Get an Account</button>
  <hr width="95%" size=1 color="#999999">
  <form method=post class='EnFolksExternalLoginForm'>

    <h3 style="padding-top:7px;">Sign in with your <a href='https://www.energyfolks.com' target='_blank'>energyfolks</a> account</h3>
    <div align=center>
      <table border=0 cellpadding=1 cellspacing=0 align=center style='align:center;'>
        <tr>
          <td align=right>
            Email:
          </td>
          <td>
            <input type=text name='user' class='EnFolksUser' value='' size=13>
          </td>
        </tr>
        <tr>
          <td align=right>
            Password:
          </td>
          <td>
            <input type=password name='passw' class='EnFolksPass' size=13></td>
        </tr>
        <tr>
          <td colspan=2 align=center>
            <label><input type=checkbox class='EnFolksCookie' name=remember checked value=11> Remember Me</label>
          </td>
        </tr>
        <tr>
          <td align=center style='font-size:10px;text-align:center;' colspan=2>
            <a class='maplink EnFolks_forgot_pass' href='#'>Forgot Password</a><BR>
            <a class='maplink EnFolks_reactivate' href='#'>Resend Activation</a><BR>
            <button class='EnFolksLoginButton' type=submit>Login</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>