<a href='#' class='ef_third_party_link' data-type='linkedin'>Login with LinkedIn</a>
<BR><a href="#" class='EnFolks_create_account'>Create Account</a>
<BR><a href="#" onclick="EnergyFolks.$('#efadminbar_sub1').show();">Login</a>