<div class='EnFolksClass EnFolksLoginForm'>
  <div class='ef_external_logins'>
    <a href='#' class='ef_third_party_link' data-type='linkedin'><BR>Login with<BR>LinkedIn</a>
    <hr width="95%" size=1 color="#999999">
  <i>Don't have a LinkedIn account?</i>
  <button class='EnFolks_create_account'>Signup for a new Account</button>
  </div>
  <form method=post class='EnFolksExternalLoginForm'>

    <div align=center>
      <table border=0 cellpadding=1 cellspacing=0 align=center style='align:center;'>
        <tr>
          <td align=right>
            Email:
          </td>
          <td>
            <input type=text name='user' class='EnFolksUser' value='' size=13>
          </td>
        </tr>
        <tr>
          <td align=right>
            Password:
          </td>
          <td>
            <input type=password name='passw' class='EnFolksPass' size=13></td>
        </tr>
        <tr>
          <td colspan=2 align=right>
            <label><input type=checkbox class='EnFolksCookie' name=remember checked value=11> Remember Me</label>
          </td>
        </tr>
        <tr>
          <td align=center style='font-size:10px;text-align:center;' colspan=2>
            <a class='maplink EnFolks_forgot_pass' href='#'>Forgot Password</a><BR>
            <a class='maplink EnFolks_reactivate' href='#'>Resend Activation</a><BR>
            <button class='EnFolksLoginButton' type=submit>Login</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>