<% if current_user.present? && current_user.admin? %>
    <h1><%= link_to 'Create New Affiliate', '#', :class => 'EnergyFolks_popup', :data => {command: 'affiliates/new', iframe: 'true' } %></h1>
<% end %>
<h1>Energyfolks Affiliates</h1>
<% @affiliates.each do |affiliate| %>
    <div>
      <h3><%= affiliate.name %></h3>
      <% if current_user.present? && (current_user.admin? || Membership.is_admin?(current_user, affiliate, Membership::ADMINISTRATOR)) %>
          <%= link_to 'Edit', '#', :class => 'EnergyFolks_popup', :data => {command: "affiliates/#{affiliate.id}/edit", iframe: 'true' } %>
          <%= link_to 'Members', "affiliates/#{affiliate.id}/users" %>
      <% end %>
    </div>
<% end %>