<a href="/affiliates/dashboard?aid=<%= current_affiliate.id %>&iframe_next=1">Back to Dashboard</a><BR><BR>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subscribes to Announcement emails</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.email %></td>
    <td><%= u.subscription.announcement? ? 'Yes' : 'No' %></td>
  </tr>
  <% end %>
</table>