<div class='form'>
  <%= nested_form_for @affiliate, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
      <%= raw(iframe_form) %>
      <%= render :partial => 'form', :locals => {f: f} %>
      <%= tinymce %>
  <% end %>
</div>