<% if @membership.present? && !@membership.approved? %>
    <%= form_tag('/affiliates/reject_or_remove') do %>
      <input type="hidden" value='<%= @user.id %>' name="id">
      <input type="hidden" value='<%= @affiliate.id %>' name="aid">
      <input type="hidden" value='1' name="iframe_next">
      <h1>Reason for rejecting/removing user account:</h1>
      <textarea name="reason" rows=6 cols=50></textarea><BR>
      <input type="submit">
    <% end %>
<% else %>
    This user is no longer in this group.
<% end %>