/*
  All styles below are meant to be overwritten in the header on a per-affiliate basis
*/

.button {
  background-color: #F16522;
  color: white;
}
.button:hover {
  background-color: #cccccc;
  color: #F16522;
}
h1, h2, h3, h4, h5, h6 {
  color: #F16522;
}