#affiliate_dashboard {
  div.box {
    border: 2px solid #26313B;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 6px;
  }
  div.warning {
    border: 2px solid #770000;
    background-color: #ffdddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 6px;
  }
}