#ef_carousel {
  overflow:hidden;
  overflow-y: auto;
  height: 610px;
  .viewport {
    float: left;
    position: relative;
    height: 550px;
    width: 884px;
    overflow: hidden;
    overflow-y: auto;
  }
  .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    li.slide{
      position: relative;
      height: 496px;
      width: 880px;
      float: left;
      margin: 0 20px 40px 0;
      padding: 1px 0px 0px 0px;
      overflow-y: auto;
    }
  }
  .buttons {
    .disable {
      display: none;
    }
    position: fixed;
    top: 556px;
    left: 5px;
    right: 5px;
    height: 40px;
    .prev {
      float: left;
    }
    .next, .submit {
      float: right;
    }
    .submit.do_not_hide {
      margin-left: 5px; /* next and submit will both show, so put some space between them  */
    }
  }
}
