.comment_form {
  background-color: #eeeeee;
  padding: 0px;
  margin: 0px;
  .not_logged {
    text-align: center;
    padding: 4px;
  }
  textarea {
    width: 400px;
    height: 40px;
    margin-left: 3px;
  }
  img {
    float: left;
    width: 40px;
    border: 1px solid #cccccc;
    height: 40px;
  }
  input[type=submit].button {
    width: 110px;
    padding: 4px 20px;
    font-size: 15px;
    margin-top: -3px;
    border: 0px solid #ffffff;
  }

}