$default_affiliate_color: #f16522;
$unselected_radio_button_color: gray;
$progress_bar_still_to_go_color: gray;

div.form {

  h1 {
    float: left;
    clear: left;
  }

  .carousel_title_section {
    h1 {
      float: left;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
    }

    .progress_bar {
      float: none;
      margin-left: 200px;

      a {
        display: inline-block;
        background-color: $progress_bar_still_to_go_color;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px; /* shape into circles*/
        margin-left: 5px;
        text-align: center;
        vertical-align: middle;

        &:hover {
          color: white;
        }
      }

      .active {
        background-color: $default_affiliate_color; /* different color for the current slide number */
      }
    }

    hr {
      background-color: $default_affiliate_color;
      border-width: 0px;
      height: 3px;
    }
  }

  .carousel_title_section.show_vertical {
    float: left;
    width: 110px;
    display: inline-block;

    h1 {
      float: none;
      height: auto;
      line-height: normal;
    }

    .progress_bar {
      margin-left: 0px;
      width: 100px;

      a {
        display: block;
        width: 80px;
        line-height: auto;
        margin-bottom: 2px;
      }
    }

    & + .viewport {
      width: 600px; /* leave room for the progress bar to be next to it */
      display: inline-block;
    }

  }

  div.form_label {
    font-weight: bold;
    font-size: 1.3em;
    color: $default_affiliate_color;
    float: left;
    clear: left;
  }

  div.form_entry {
    margin-left: 0px;
    margin-bottom: 10px;
    float: left;
    clear: both;

    input[type="text"] {
      width: 300px;
    }

    input[type="text"].distance {
      width: 30px;
    }

    input[type="text"].hasDatepicker {
      width: 80px;
    }

    .hasDatepicker + input[type="text"] {
      width: 70px;
    }


    input[type="radio"].toggle {
      display: none;  /* we'll show as a styled label instead of radio button */
    }

    input[type="radio"].toggle + label {
      color: white;
      background-color: $unselected_radio_button_color;
      display: inline-block; /* so we can set height */
      height: 25px;
      line-height: 25px;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      margin-left: 1px;
      margin-right: 0px;
      cursor: pointer;

      &:hover {
        background-color: $default_affiliate_color;
      }
    }

    input[type="radio"].toggle:checked + label {
      background-color: $default_affiliate_color;
      cursor: default;
    }

    input[type="radio"].toggle:first-of-type + label {
      border-right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    input[type="radio"].toggle:last-of-type + label {
      border-right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }

  div.show_inline {
    float: left;
    clear: right;
    margin-left: 30px;
    margin-bottom: 0px;
  }

  div.explain {
    font-style: italic;
    font-size: .8em;
  }

  div.show_me a {
    padding-left: 5px;
  }

  div.hide_me a {
    padding-left: 5px;
  }

  img.logo_img {
    float: left;
  }

  input[type="file"] {
    cursor: pointer;
  }

  /* file input hack, not used currently

  div.file_inputs {
    /* hide the regular file input button, so we can show a custom-styled one. code from http://www.quirksmode.org/dom/inputfile.html /
    float: left;
    position: relative;
    margin-left: 5px;
    margin-bottom: 0px;

    div.fake_file {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 400px; /* wide enough make sure file button & label show up on same line /
      z-index: 1;
    }

    input[type=file] {
      position: relative;
      left: -80px;
      margin: 0px;
      text-align: left;
      -moz-opacity: 0;
      filter:alpha(opacity = 0);
      opacity: 0;
      z-index: 2;
      cursor: pointer;  /* on mac Chrome, only works for the label part of the file input, not the button part. not sure about other browsers. /
    }

    .file_input_btn {
      color: white;
      background-color: $default_affiliate_color;
      display: inline-block; /* so we can set height /
      float: left;
      clear: none;
      height: 15px;
      line-height: 15px;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: bold;
      /* margin-left: 80px; /* move it to the right, because the cursor style doesn't work if it's directly below the input type=file. /
      margin-right: 0px;
      border-radius: 4px;

      &:hover {
        background-color: $unselected_radio_button_color;
      }
    }

    div.file_name_label {
      display: inline;
      float: left;
      clear: right;
      margin-left: 5px;
    }
  } */

  div.field_with_errors {
    background-color: #eeaaaa
  }
  span.validation-error {
    font-weight: bold;
  }
  div.error_explanation {
    margin: 4px 0px;
    padding: 5px;
    background-color: #eeaaaa;
    border: 1px solid #444444;
    strong {
      font-wieght: bold;
    }
  }
}