.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.button {
  padding: 7px 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.admin_controls {
  padding: 4px;
  border: 1px solid #999999;
  background-color: #f9f9f9;
}
.urgent {
  border: 5px solid #aa0000;
  background-color: #ffdddd;
}
.select2-container {
  width: 300px;
}
