<script language='javascript'>
  <%= "alert('#{@alert}');" if @alert.present? %>
  EnergyFolks.parent_url = '<%= cookies[:parent_url] %>';
  window.opener.location=EnergyFolks.parent_url+'#refreshpage';
  window.close();
</script>
<h1><%= @alert %></h1>